/* SignInForm.css */
body {
  height: 1150px;
}

.formBody {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-top: 50px;
}
.signin-container {
  width: 400px;
  height: 80vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.signin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.close-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}

.demo-credentials {
  background-color: #f0f4fa;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.demo-text {
  color: #3498db;
  font-weight: bold;
}

.signin-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.signin-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.signin-options input {
  margin-right: 5px;
}

.forgot-password {
  color: #3498db;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signin-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #e74c3c;
  background-color: transparent;
  color: #e74c3c;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.signin-button:hover {
  background-color: #e74c3c;
  color: white;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.register-text {
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
}

.register-text:hover {
  text-decoration: underline;
}
.fotr {
  position: absolute;
  bottom: 0;
}
