* {
  box-sizing: border-box;
}

.footer {
  background-color: #1c1e25;
  color: #fff;
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-column p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.about-us {
  flex: 2;
}

.store-button {
  background-color: #ea3e3b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.store-button svg {
  margin-right: 5px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.social-icons svg {
  width: 25px;
  height: 25px;
  color: #ea3e3b;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons svg:hover {
  color: #fff;
}

.newsletter-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter-button {
  background-color: #ea3e3b;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  background-color: #15171d;
  margin-top: 30px;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}
